@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0B4gaVI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-color: navajowhite;
    text-align: center;
    font-family: "Open Sans", Arial;
}

#page-title {
    font-size: 40px;
    font-family: "Open Sans", Arial;
    font-weight: bold;
}

h2 {
    color: maroon;
    font-weight: bolder;
    font-size: 30px;
}

table {
    margin: 0 auto;
    border: 2px solid black;
}

td {
    padding: 3px
}

.tb-headings {
    color: white;
    background-color: goldenrod;
    font-size: 25px;
    font-weight: lighter;
}

.tags {
    background-color: tan;
    font-family: monospace, Arial;
    font-weight: bold;
}

.tag-functn {
    text-align: start;
}

footer {
    float: right;
}